body {
  background-color: #F5EAEA;
  display: flex;
  flex-direction: column;
}

:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

#container {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 30px;
  margin-right: 30px;
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid-item:hover {
  background-color: black;
}

.grid-item {
  background-color: white;
  padding: 50px;
  border: 1px solid #ddd;
  text-align: center;
}

img {
  align-self: center;
  margin-top: 100px;
  max-width: 150px;
  height: auto;
}

#reset{
  margin-top: 20px;
  align-self: center;
  max-width: 120px;
  height: 40px;
  background-color: #FFB84C;
}

#container-back{
  margin:auto;
  background-color:#F16767;
}